.header
    .container
        .row
            .col-xs-9
                .title-ctnr
                    p.title Wayve
            .col-xs-3
                .gh-btn-ctnr
                    a.btn-github(href="https://github.com/jordanluyke/wayve" target="_blank" rel="noreferrer")
                        .octicon.octicon-mark-github
                        span.desc View on Github
